{{!-- So let's create a new page - albums.hbs where all the results will be displayed. Make sure you show the name and the cover of each album and add a button/link to see the tracks (next iteration). --}}

<form action="/" method="POST">
  <label for="artist-name">Artist name</label>
  
  <label for="cover">Cover</label>

  <button type="submit">View tracks</button>
</form>

